
node_modules

cypress/fixtures
cypress/videos
cypress/screenshots
cypress/original_cypress_examples/
cypress/support/commands.js
cypress/support/e2e.js

reports

README.md
package-lock.json
package.json
eslint.config.mjs
cypress.config.spec.js
cypress.config.cucumber.js
.prettierrc
.prettierignore
.gitignore
